#windy {
  width: 100%;
}

#windy .leaflet-popup-content-wrapper {
  border-radius: 4px !important;
}

#windy .leaflet-popup-content h3 {
  font-weight: bold;
  font-size: 16px;
}

#windy .leaflet-popup-content p {
  margin: 8px 0 !important;
}

#windy .station-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#windy .station-data p:first-of-type {
  font-weight: bold;
}

#windy .station-data__button {
  text-align: center;
  width: 100%;
  border-radius: 3px;
  font-weight: 400;
  height: 32px;
  padding: 0 16px;
  font-size: 14px;
  color: #ffffff;
  border: 1px solid #ff9901 !important;
  background: #ff9901;
  box-shadow: none;
  cursor: pointer;
  outline: none;
}

#windy #logo {
  left: 60px!important;
}

#windy #bottom,
#windy #embed-zoom,
#windy #plugin-menu,
#windy #logo-wrapper,
#windy #mobile-ovr-select {
  z-index: 10000;
}

#windy #plugin-menu .plugin-content #layers-levels {
  opacity: 1!important;
  pointer-events: all!important;
}

#windy .play-pause.off:before {
  left: 0.07em!important;
}