@media( max-width : 585px ) {
	.prt_about_learnsection:after {
    display: none !important;
}	
.prt_about_learnbox_left .prt_about_learnbox_year {
    float: none !important;
    padding-top: 0px !important;
}


.prt_about_learnbox_year h1 {
    font-size: 48px !important;
}

.prt_about_learnbox_year {
    display: table-cell;
    width: 127px !important;
    vertical-align: middle;
}

.prt_about_learnbox_left:after {
 display: none !important;

}
.portfolio .well img {
    height: 190px;
    width: auto !important;
    filter: grayscale(1);
}
.prt_about_learnbox_right:after {
 display: none !important;
	
}
div#portfolio .col-md-6 .well {
    height: auto !important;
}

.prt_about_learnbox_left{
 text-align: left !important;
	
}
.prt_about_learnbox_left .prt_about_learnbox_info {
    float: none !important;
}
.welcome h1 {
    /*font-family: 'Playfair Display' !important;*/
   padding: 15px;
}
.welcome p {
    display: none !important;
   padding: 15px;
}
.skills .col-xs-6 {
    height: 238px;
    width: 50%;
}
#container{
	display: none !important;
}
.floaters{
	display: none !important;
}
div#portfolio .col-md-6 .well img {
    margin-bottom: 6%;
}
}
@media( max-width : 989px ) {
	
	.prt_about_learnsection:after {
    display: none !important;
}	

.prt_about_learnbox_year h1 {
    font-size: 48px !important;
}

.prt_about_learnbox_year {
    display: table-cell;
    width: 127px !important;
    vertical-align: middle;
}

div#portfolio .col-md-6 .well {
    height: auto !important;
}
div#portfolio .col-md-6 .well img {
    margin-bottom: 6%;
}

#container{
	display: none !important;
}
.skills .col-xs-6 {
    height: 238px;
    width: 50%;
}
.welcome h1 {
    /*font-family: 'Playfair Display' !important;*/
   padding: 15px;
}
.welcome p {
    display: none !important;
   padding: 15px;
}
.prt_about_learnbox_left .prt_about_learnbox_year {
    float: none !important;
    padding-top: 0px !important;
}
.prt_about_learnbox_left .prt_about_learnbox_info {
    float: none !important;
}
.prt_about_learnbox_left{
 text-align: left !important;
	
}
.prt_about_learnbox_left:after {
 display: none !important;

}
.prt_about_learnbox_right:after {
 display: none !important;
	
}
.floaters{
	display: none !important;
}
.portfolio .well img {
    height: 190px;
    width: auto !important;
    filter: grayscale(1);
}
}
@media( max-width : 220px ){
.prt_about_learnsection:after {
    display: none !important;
}	
div#portfolio .col-md-6 .well {
    height: auto !important;
}

.prt_about_learnbox_left .prt_about_learnbox_year {
    float: none !important;
    padding-top: 0px !important;
}
.prt_about_learnbox_left{
 text-align: left !important;
	
}
.prt_about_learnbox_left .prt_about_learnbox_info {
    float: none !important;
}
.welcome h1 {
    /*font-family: 'Playfair Display' !important;*/
   padding: 15px;
}
.welcome p {
    display: none !important;
   padding: 15px;
}

.prt_about_learnbox_left:after {
 display: none !important;

}
.prt_about_learnbox_right:after {
 display: none !important;
	
}	
#container{
	display: none !important;
}

.prt_about_learnbox_year h1 {
    font-size: 48px !important;
}

.prt_about_learnbox_year {
    display: table-cell;
    width: 127px !important;
    vertical-align: middle;
}

.floaters{
	display: none !important;
}
.portfolio .well img {
    height: 190px;
    width: auto !important;
    filter: grayscale(1);
}
.skills .col-xs-6 {
    height: 238px;
    width: 50%;
}
div#portfolio .col-md-6 .well img {
    margin-bottom: 6%;
}

}


/*@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/