

.back-drop {
    background-color: rgba(48, 49, 48, 0.42);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    left: 0;
    width: 100%;
    z-index: 99;
}
.btn-dark{
    background: #b4b4b4 !important;
    border-color: #b4b4b4 !important;
}
